body {
    background-color:rgb(255, 218, 185);
}

iframe {
    display:block;
    margin:auto;
    padding:10px;
    border:none;
}
.detail{
    text-align: center;
    margin:auto;
    padding:10px;
    border:none;
 
}
img{

    display:block;
    margin:auto;
    padding:10px;
    border:none;
}
nav {
        border-radius: 5%;
    font-size: 1.7em;
  }
  nav > ul {
    overflow:hidden;
    list-style-type: none;
    background-color:rgb(249, 190, 139)
}
nav > ul > li {
    float: right;
    display:block;
    color: #1c1c0c;
    text-align: center;
    padding: 10px;
}
nav > ul > li > a {
    text-decoration: none;
    color: #1c1c0c;
}
